.bg-primary {
    background: var(--v-theme-primary);
}

.bg-secondary {
    background: var(--v-theme-secondary);
}

.secondary{
    color: var(--v-theme-secondary)
}

.bg-error {
    background: var(--v-theme-error);
}

.quiz-card {
    width: min(100%, 700px);
}

html {
    overflow-y: auto !important;
}

.quiz-btn {
    width: min(100%, 200px);
}

a {
    text-decoration: none;
    color: inherit;
}

.pointer:hover {
    cursor: pointer;
}

